<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listados de almacen</title>
</head>
<body>

<form th:action="@{/searchAlmacen}" method="post">
    <h3>Buscar almacen por nombre</h3>
    <input type="text" name="search"/>
    <input type="submit" value="Buscar"/>
</form>

<h2>Almacenes Nuevos</h2>
<table>
    <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>LIBROS</th>
        <th>ACCIONES</th>
    </tr>
    <tr th:each="almacenNew: ${almacenesNuevos}">
        <td th:text="${almacenNew.id}"/>
        <td th:text="${almacenNew.nombre}"/>
        <td>
            <ul>
                <!-- Itera sobre la lista de libros del almacén y muestra cada libro -->
                <li th:each="libro : ${almacenNew.libros}" th:text="${libro.isbn + ' - ' + libro.ano}"></li>
            </ul>
        </td>
        <td>
            <!-- Agrega el botón de borrar con un formulario que utiliza el método POST -->
            <form th:action="@{/deleteAlmacen}" method="post" th:object="${almacenNew}">
                <input type="hidden" name="newId" th:value="${almacenNew.id}" />
                <input type="hidden" name="newNombre" th:value="${almacenNew.nombre}" />
                <button type="submit">Borrar</button>
            </form>
        </td>
    </tr>
</table>

<h2>Almacenes Viejos</h2>
<table>
    <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>LIBROS</th>
        <th>ACCIONES</th>
    </tr>
    <tr th:each="almacenOld: ${almacenesViejos}">
        <td th:text="${almacenOld.id}"/>
        <td th:text="${almacenOld.nombre}"/>
        <td>
            <ul>
                <!-- Itera sobre la lista de libros del almacén y muestra cada libro -->
                <li th:each="libro : ${almacenOld.libros}" th:text="${libro.isbn + ' - ' + libro.ano}"></li>
            </ul>
        </td>
        <td>
            <!-- Agrega el botón de borrar con un formulario que utiliza el método POST -->
            <form th:action="@{/deleteAlmacen}" method="post" th:object="${almacenOld}">
                <input type="hidden" name="oldId" th:value="${almacenOld.id}" />
                <input type="hidden" name="oldNombre" th:value="${almacenOld.nombre}" />
                <button type="submit">Borrar</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>