<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Listado de libros</title>
</head>
<body>

<form th:action="@{/searchLibro}" method="post">
  <h3>Buscar libro por ISBN</h3>
  <input type="text" name="search"/>
  <input type="submit" value="Buscar"/>
</form>

<table border="1px" style="display: table; margin:auto; margin-top:200px; width: 50%;border-collapse: collapse;">
  <th>ID</th>
  <th>ISBN</th>
  <th>FECHA</th>
  <th>ALMACEN_OLD</th>
  <th>ALMACEN_NEW</th>
  <th colspan="2">Acciones</th>
  <tbody>
    <tr th:each="lib: ${libros}">
      <td th:text="${lib.id}"/>
      <td th:text="${lib.isbn}"/>
      <td th:text="${lib.ano}"/>
      <td th:text="${lib.almacen_old}"/>
      <td th:text="${lib.almacen_new}"/>
      <td><a th:href="@{'/updateLibro/'+${lib.id}}">Update</a></td>
      <td><a th:href="@{'/deleteLibro/'+${lib.id}}">Delete</a></td>
    </tr>
  </tbody>
</table>
</body>
</html>