<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<a href="/formAlmacen">Formulario creación almacen</a>
<a href="/finalmacen">Listado de almacenes</a>
<a href="/formLibro">Formulario creación libro</a>
<a href="/finlibro">Listado de libros</a>

<h2>Libros</h2>
<table>
    <tr>
        <th>ID</th>
        <th>ISBN</th>
        <th>AÑO</th>
        <th>ALMACEN_OLD</th>
        <th>ALMACEN_NEW</th>
    </tr>
    <tr th:each="lib: ${libros}">
        <td th:text="${lib.id}"/>
        <td th:text="${lib.isbn}"/>
        <td th:text="${lib.ano}"/>
        <td th:text="${lib.almacen_old}"/>
        <td th:text="${lib.almacen_new}"/>
</table>

<h2>Almacenes Nuevos</h2>
<table>
    <tr>
        <th>ID</th>
        <th>NOMBRE</th>
    </tr>
    <tr th:each="almacenNew: ${almacenesNuevos}">
        <td th:text="${almacenNew.id}"/>
        <td th:text="${almacenNew.nombre}"/>
    </tr>
</table>

<h2>Almacenes Viejos</h2>
<table>
    <tr>
        <th>ID</th>
        <th>NOMBRE</th>
    </tr>
    <tr th:each="almacenOld: ${almacenesViejos}">
        <td th:text="${almacenOld.id}"/>
        <td th:text="${almacenOld.nombre}"/>
    </tr>
</table>

</body>
</html>